@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "banka";
  default: false;

  --color-base-200: oklch(100% 0 0);
  --color-base-100: oklch(96% 0.007 247.896);
  --color-base-300: oklch(100% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(0.6267 0.0839 203.49);
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: oklch(98% 0.001 106.423);
  --color-secondary-content: oklch(0.6267 0.0839 203.49);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(98% 0.002 247.839);
  --color-neutral: oklch(30% 0.056 229.695);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-accent: oklch(0.7889 0 0);
  --color-accent-content: oklch(44% 0.03 256.802);
  --color-success: oklch(84% 0.143 164.978);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.1875rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
 --p-primary-200: oklch(0.6267 0.0839 203.49);
  --p-button-outlined-primary-color: oklch(0.6267 0.0839 203.49);
}

@plugin "daisyui/theme" {
  name: "bankb";
  default: false;

  --color-base-100: #246455;
  --color-base-200: #102A4D;
  --color-base-300: #246455;
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(100% 0 0);
  --color-primary-content: oklch(0% 0 0);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
  --p-button-outlined-primary-border-color: #12284C;
  --p-button-outlined-primary-color: #12284C;
}

:root {
  --menu-active-fg: #000000 ;
  --menu-active-bg: #ffffff;
}

.menu {
    --menu-active-bg: var(--color-neutral-content);
    --menu-active-fg: var(--color-neutral);
}

  [data-theme="banka"] {
    .btn-secondary {
    border: 1px solid #3f979f;
  }
.p-button-outlined {
    color: #3f979f;
    border: 1px solid #3f979f;
}
.p-datatable-filter-apply-button {
    background-color: #3f979f;
}

.p-paginator-page.p-paginator-page-selected {
    background-color: rgb(63 151 159 / 30%);
    color: #3f979f;
}
}

  [data-theme="bankb"] {
    .btn-secondary {
    border: 1px solid #12284C;
  }
}

.btn {
    padding: 8px 24px;
    border-radius: 4px;
    box-shadow: none;
}

.label {
    margin-bottom: 10px;
}

button svg, .btn svg {
    width: 1.5em;
    height: 1.5em;
}
